<div class="container">
   <div class="form-group">
        <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
           <h2>{{ data.title }}</h2>

           
                
                @if (submitted && myForm.get('entregado')?.hasError('required')){
                  <div class="error-message" >
                      Destinatario requerido
                  </div>
                }
                <input type="text" placeholder="Destinatario" formControlName="entregado" class="input-number" required>

                <input type="number" placeholder="Cedula (Opcional)" formControlName="cedula" class="input-number">
                
                <!--@if (submitted && myForm.get('observacion')?.hasError('required')){
                  <div class="error-message" >
                      Observacion requerida
                  </div>
                }-->

                <textarea class ="input-number" formControlName="observacion" rows="5" cols="25" placeholder="Observacion (Opcional)"></textarea>
     

                @if (submitted && myForm.get('cantidad')?.hasError('required')){
                  <div class="error-message" >
                      Stock requerido
                  </div>
                }
                @if (submitted && myForm.get('cantidad')?.hasError('required')){
                  <div class="error-message" >
                      Stock requerido
                  </div>
                }
                <input type="number" required placeholder="cantidad" class="input-number" formControlName="cantidad">
        


            <button type="submit" class="btn" matTooltip="Restar"><mat-icon>ads_click</mat-icon></button>
        </form>
            </div>
</div>

 